@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background-color: #A49BD2;
    font-family: Shantell Sans,
    cursive;
    font-weight:bolder;
    font-style: normal;
    margin-top: 10px;
    padding: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
}
.heading{
   font-size: 80px;
   font-weight: 500;
   color: rgb(61, 61, 61);
   width:600px;
   height:140px;
   z-index: 1px;
   border-radius: 5% 30px 30% 30px;
   transform: rotate(3deg);
   border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
   background-color: hsla(166, 100%, 50%, 0.7);
 
 }
.rectangle{
    padding-top: 30px;
    background-image: url("assests/Frame 481720g.png");
    background-size: cover;
    background-color: aliceblue;
    height: 520px;
    width:900px;
    border-radius: 50px;
}
.mid_content{
    font-size: 25px;
    color: rgb(83, 83, 83);  
}
.inputbox{
    height: 30px;
    width: 500px;
    border-radius: 10px;
    border: none;
    border-style: dashed;
    border-color: #FEBFCB;
    outline: none;
}
.submit{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: #FD5FDA;
    color: aliceblue;
    font-family: Shantell Sans,
    cursive;
    font-size: medium;
    font-weight: 500;
    border: none;
}
ul{list-style: none;
}
li{text-align: center;
    color: #63D1D4;
}